/* ----------------------------------------------------------------- Radio Buttons -- */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
	position: relative;
	cursor: pointer;
	display: inline-block;
	color: var(--ss-white);
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1em;
	height: 1em;
	border: 0.1em solid var(--ss-white);
	border-radius: 100%;
	background: var(--ss-white);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 0.75em;
	height: 0.75em;
	background: var(--ss-yolk);
	position: absolute;
	top: 0.24em;
	left: 0.2em;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}